<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
  <appSettings>
    <add key="Server" value="11.11.1.146"/>
    <add key="CompanyDB" value="INSTRUCTOR"/>
    <add key="UserName" value="manager"/>
    <add key="Password" value="Sapb1234"/>
    <add key="DbUserName" value="sa"/>
    <add key="DbPassword" value="Sapb1234"/>
    <add key="DbServerType" value="SQL2019"/>
  </appSettings>
</configuration>